<div class="container">
<div id="mainlogo">Logo Here</div>
<nav>
<ul>
	<li><a href="#about">Anchor links</a></li>
	<li><a href="#">About</a></li>
	<li><a href="">Music</a></li>
	<li><a href="">Art</a></li>
</ul>
</nav>
</div>	