<div class="container">
<div id="mainlogo">Carlos Salvo</div>
<nav>
<ul>
	
	<li><a href="https://itunes.apple.com/us/artist/carlos-salvo/id373856710">Music</a></li>
	<li><a href="#art">Art</a></li>
	<li><a href="#contact">Contact</a></li>
	
</ul>
</nav>
</div>	