<div class="container">
<div id="mainlogo">Carlos Salvo</div>
<nav>
<ul>
	<li><a href="#about">About</a></li>
	<li><a href="#">Craftsmenship</a></li>
	<li><a href="">Music</a></li>
	<li><a href="">Art</a></li>
</ul>
</nav>
</div>	